<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body style="background-color: pink">
    {% load static %}
    <!-- Navigation-->

    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <h3><a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>/
            <a class="navbar-brand" href="{% url 'autor' %}">Autores</a>/
            <a class="navbar-brand" href="{% url 'seccion' %}">Secciones</a>/
            <a class="navbar-brand" href="{% url 'articulo' %}">Articulos</a>/
            <a class="navbar-brand" href="{% url 'cargarAutor' %}">Cargar Autor</a>/
            <a class="navbar-brand" href="{% url 'cargarArticulo' %}">Cargar Articulo</a>/
            <a class="navbar-brand" href="{% url 'cargarSeccion' %}">Cargar seccion</a>/
            <br>
            <a class="navbar-brand" href="{% url 'busqueda' %}">Buscar autor</a></h3>
            
        </div>
    </nav>

    {% block contenidoCambia %}

    {% endblock %}

    <h3> Aplicacion : blog <h3>
    
</body>
</html>
